

p{
    width: 500px;
}



#mj{
    width: 200px;
    height: 300px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    
}
#lbj{
    width: 200px;
    height: 300px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    

}